
/* Center the main content container and set the size to 50% of the screen width */
main {
    width: 50vw;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 25vw;
    padding-right: 25vw;
    
}

/* Restrict the container that houses the list of messages. Use Column-Reverse to force the browser to load the scrolling div to the bottom first so that recent messages and new messages appear at the bottom. */
.messages {
    height: 20vh;
    width: 50vw;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
}

/* Set width of message form to same width as messages list */
.form-container {
    width: 50vw;
}

/* Flex container for new message form so that the button and input appear in line */
.messageForm {
    display: flex;
}

/* Forces the message input to take up as much width as possible */
.form-group {
    width: 100%;
}
